<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/head.ejs') %>
   

    <div class="blog-container">
      <% blogs.forEach(el => { %>
      <div class="blog-card">
        <h2><%- el.title %>1</h2>
        <h3><%- el.subtitle %></h3>
        <p><%- el.description %></p>
        <a href="/single/<%- el.id %>">see more</a>
      </div>
      <% }) %>
    </div>
  </body>
</html>
